.calc-app{
    margin:0 auto;
    margin-top: 40x;
    width: 256px;
    text-align: center;
    
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(60px, auto);
} 

input{
    height: 60px; 
}

